:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark: hsl(229, 23%, 23%);
    --dark-grayish: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
}

h2{
    font-size: 2rem;
    color: var(--very-dark);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{    
    background-color: white;
    width: 326px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 6px 6px 9px 2px rgba(0, 0, 0, 0.4);

    &-header{
        width: 100%;
        display: block;
    }

    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(143, 143, 151, 0.274);;

        &-img{            
            border: 5px solid white;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
            background-color: white;
        }

        &-title{
            margin-top: 2rem;
            font-size: 1.8rem;

            span{
                color :var(--dark-grayish);
                //color :rgb(143,143,151);
                font-weight: 400;
                margin-left: 0.5rem;
            }
        }

        &-text{  
            margin-top: 0rem;    
            margin-bottom: 2rem;      
            font-size: 1.4rem;
            color: var(--dark-gray);
            //color :rgb(143,143,151);
            font-weight: 400;            
        }
    }

    &-footer{
        display: flex;
        justify-content: space-around;
        color: var(--very-dark);
        
        &-social{
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            p{
                letter-spacing: 0.09rem;
            }
        }

    }

    
}
